<%- include("./include/menu"); %> 
<link rel="stylesheet" href="../public/css/corps.css">
<link rel="stylesheet" href="../public/css/menu.css">

<div class="container">

   <h1 class="sportTitle"><%= sport %></h1> 
   <p class="indexDesc">Select level for tricks easy or not</p>

   <div class="btnIndexGroup">
       <button class="btnIndex easy" onclick="selectDifficulty(`<%= sport %>`, 1)">Level 1</button>
       <button class="btnIndex medium" onclick="selectDifficulty(`<%= sport %>`, 2)">Level 2</button>
       <button class="btnIndex hard" onclick="selectDifficulty(`<%= sport %>`, 3)">Level 3</button>
       <button class="btnIndex all" onclick="selectDifficulty(`<%= sport %>`, 0)">All level</button>
   </div>

</div>



<script src="../../public/js/index.js"></script>
<script src="../../public/js/menu.js"></script>