    <%- include("./include/menu"); %> 
    <link rel="stylesheet" href="../../public/css/corps.css">
    <link rel="stylesheet" href="../../public/css/menu.css">
    
    <div class="container">
        <h1 class="sportTitle"> <%= sport %> </h1>
        
        <div class="tricks">
            <h2>Trick : <span id="tricks"><%= trick.name %></span></h2>
            <h3>Difficulty : <span id="difficulty"><%= trick.difficulty %></span></h3>
        
            <h2>Your score : <span id="yourScore">0</span></h2>
        </div>
        <div class="btnGroup">
            <input type="checkbox" name="rota" id="rota" checked>
            <label for="rota">Mode rotation</label>
        </div>
        <div class="btnGroup">
            <button onclick="validate(`<%= tricksList %>`, 'success')" class="btn validate">Validé</button>
            <button onclick="validate(`<%= tricksList %>`, 'fail')" class="btn fail">Raté</button>
            <button onclick="validate(`<%= tricksList %>`, 'skip')" class="btn skip">Passé</button>
        </div>
        <div class="btnGroup">
            <button onclick="reset()" class="btn reset">Reset</button>
        </div>
    </div>
    


    <script src="../../public/js/tricks.js"></script>
    <script src="../../public/js/score.js"></script>
    <script src="../../public/js/menu.js"></script>
