<%- include("../include/menu"); %> 

<h1>Trot</h1>

<%= tricks.name %> --> <%= tricks.difficulty %> 

<hr>

<% for( let i = 0; i < tricks.length; i++ ) { %>
    <%= tricks[i].name %> -- <%= tricks[i].difficulty %> <br> 
<% } %> 


